.about-containermain2{
  width: 100%;
  height: 100vh;
  background-color: rgb(255,30,0);

}
.about-containertwo {
  max-width: 600px;
  padding: 2rem;
  margin: 0 auto;
  text-align: center;
  font-family: 'DINCond-Bold'; 
    background-color: rgb(255,30,0);
    
  }
  
  .abtpro-logo{
    width: 376px ;
  margin-top: 2rem;
  margin-bottom: 20px;
  margin-left: 3rem;
  
  }
  h3 {
    text-align: center;
    color: white;
    font-family: 'DINCond-Bold', sans-serif; 
    font-size: 2rem;
  
  }
  h4{
    font-family: 'DINCond-Bold'; 
    color: white;
    font-size: 1.9rem;
  
  }
  p {
    margin-top: 2rem;
    line-height: 1.9rem;
    margin-bottom: 20px;
    font-size: 1.9rem;
    font-family: 'DINCond-Bold',; 
    text-align: center;
    justify-content: center;
    color: white;
  }
  
  .options-container {
    display: flex;
    flex-direction: column;
    color: grey;
  }
  
  .answer-optiontwo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: white;
    width: 363px;
    margin-left: 107px;
  }
  
  .answer-optiontwo :hover {
    background-color: #e0e0e0;
  }
  
  .answer-optiontwo .correct {
    background-color: #92d050;
  }
  
  .answer-optiontwo .incorrect {
    background-color: #ffc000;
  }
  .correct {
    background-color: #92d050;
    
  }
  
  .incorrect {
    background-color: #ffc000;
    
  }
  .next-buttontwo {
    margin-top: 20px;
    padding: 12px;
    background-color:rgb(113, 112, 115) ;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
   width: 156px;
    margin-left: 222px;
  }
  
  .next-buttontwo:hover {
    background-color:rgb(113, 112, 115) ;
  }
  
  .alert-message {
    margin-top: 10px;
    color: red;
    font-weight: bold;
  }
  .submit-buttontwo {
    margin-top: 20px;
    padding: 12px;
    background-color:rgb(113, 112, 115) ;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    width: 156px;
    margin-left: 222px;
  }
  
  .submit-button:hover {
    background-color:rgb(113, 112, 115) ;
  }
  
  
  @media screen  and (max-width:600px){
    
    .about-containertwo {
      max-width: 600px;
      padding: 2rem;
      margin: 0 auto;
      text-align: center;
      font-family: 'DINCond-Bold'; 
      background-color: rgb(255,30,0);
      
    }
    .abtpro-logo{
      width: 376px ;
      margin-top: 2rem;
      margin-bottom: 20px;
      margin-left: 3rem;
    
    }
    h3 {
      text-align: center;
      color: white;
      font-family: 'DINCond-Bold', sans-serif; 
      font-size: 2rem;
    
    
    }
    h4{
      font-family: 'DINCond-Bold'; 
    color: white;
    font-size: 1.9rem;
  
    }
    p {
      margin-top: 2rem;
      line-height: 1.9rem;
      margin-bottom: 20px;
      font-size: 1.9rem;
      font-family: 'DINCond-Bold',; 
      text-align: center;
      font-size: 1.9rem;
      justify-content: center;
      color: white;
    }
    
    .options-container {
      display: flex;
      flex-direction: column;
      color: grey;
    }
    
    .answer-optiontwo  {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ddd;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      background-color: white;
      width: 363px;
      margin-left: 77px;
    }
    
    .answer-optiontwo :hover {
      background-color: #e0e0e0;
    }
    
    .answer-optiontwo .correct {
      background-color: #92d050;
    }
    
    .answer-optiontwo .incorrect {
      background-color: #ffc000;
    }
    .correct {
      background-color: #92d050;
      
    }
    
    .incorrect {
      background-color: #ffc000;
      
    }
    .next-buttontwo {
      margin-top: 20px;
      padding: 12px;
      background-color:rgb(113, 112, 115) ;
      color: #fff;
      border: none;
      border-radius: 4px;
      font-size: 16px;
      cursor: pointer;
     width: 156px;
      margin-left: 181px;
    }
    
    .next-buttontwo:hover {
      background-color:rgb(113, 112, 115) ;
    }
    
    .alert-message {
      margin-top: 10px;
      color: red;
      font-weight: bold;
    }
    .submit-buttontwo {
      margin-top: 20px;
      padding: 12px;
      background-color:rgb(113, 112, 115) ;
      color: #fff;
      border: none;
      border-radius: 4px;
      font-size: 16px;
      cursor: pointer;
      width: 156px;
      margin-left: 1px;
    }
    
    .submit-button:hover {
      background-color:rgb(113, 112, 115) ;
    }
  }
  
  
  
  @media screen  and (max-width:520px){
    
     
    .about-containertwo {
      max-width: 600px;
    margin: 0 auto;
    text-align: center;
    font-family: 'DINCond-Bold'; 
      background-color: rgb(255,30,0);
      
    }
    .abtpro-logo{
      width: 332px ;
      margin-top: 2rem;
      margin-bottom: 20px;
      margin-left: 3rem;
    
    }
    h3 {
      text-align: center;
      color: white;
      font-family: 'DINCond-Bold', sans-serif; 
      font-size: 2rem;
    
    
    }
    h4{
      font-family: 'DINCond-Bold'; 
      color: white;
      font-size: 1.9rem;
    
    }
    p {
      margin-top: 2rem;
    line-height: 1.9rem;
    margin-bottom: 20px;
    font-family: 'DINCond-Bold',; 
    text-align: center;
    font-size: 1.9rem;
    justify-content: center;
    color: white;
    }
    
    .options-container {
      display: flex;
      flex-direction: column;
      color: grey;
    }
    
    .answer-optiontwo  {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ddd;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      background-color: white;
      width: 260px;
      margin-left: 5rem;
    }
    
    .answer-optiontwo :hover {
      background-color: #e0e0e0;
    }
    
    .answer-optiontwo .correct {
      background-color: #92d050;
    }
    
    .answer-optiontwo .incorrect {
      background-color: #ffc000;
    }
    .correct {
      background-color: #92d050;
      
    }
    
    .incorrect {
      background-color: #ffc000;
      
    }
    .next-buttontwo {
      margin-top: 20px;
    padding: 12px;
    background-color: rgb(113, 112, 115);
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    width: 155px;
    margin-left: 8rem;
    }
    
    .next-buttontwo:hover {
      background-color: lightgray;
    }
    
    .alert-message {
      margin-top: 10px;
      color: red;
      font-weight: bold;
    }
    .submit-buttontwo {
      margin-top: 20px;
      padding: 12px;
      background-color:rgb(113, 112, 115) ;
      color: #fff;
      border: none;
      border-radius: 4px;
      font-size: 16px;
      cursor: pointer;
      width: 156px;
      margin-left: 1px;
    }
    
    .submit-button:hover {
      background-color:rgb(113, 112, 115) ;
    }
  }
  
  
  @media screen  and (max-width:450px){
    
     
    .about-containertwo {
      max-width: 100%;
      margin-bottom: 3rem;
      margin-left: 3rem;
      margin-right: 3rem;
      padding: 2rem;
      border-radius: 8px;
      background-color: rgb(255,30,0);
      
    }
    .abtpro-logo{
      width: 230px !important;
      margin-bottom: 20px;
      margin-left: 1rem;
    
    }
    h3 {
      text-align: center;
      color: white;
      font-family: 'DINCond-Bold', sans-serif; 
    
    
    }
    h2{
      font-family: 'DINCond-Bold', sans-serif; 
      color: white;
    }
    p {
      margin-bottom: 20px;
    font-size: 1.9rem;
    font-weight: 200;
    width: 100%;
    font-family: 'DINCond-Bold'; 
    text-align: center;
    color: white;
    }
    
    .options-container {
      display: flex;
      flex-direction: column;
      color: grey;
    }
    
    .answer-optiontwo  {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ddd;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      background-color: white;
      width: 250px;
      margin-left: 1rem;
  }
    
    .answer-optiontwo :hover {
      background-color: #e0e0e0;
    }
    
    .answer-optiontwo .correct {
      background-color: #92d050;
    }
    
    .answer-optiontwo .incorrect {
      background-color: #ffc000;
    }
    .correct {
      background-color: #92d050;
      
    }
    
    .incorrect {
      background-color: #ffc000;
      
    }
    .next-buttontwo {
      margin-top: 20px;
      padding: 12px;
      background-color:rgb(113, 112, 115) ;
      color: #fff;
      border: none;
      border-radius: 4px;
      font-size: 16px;
      cursor: pointer;
     width: 156px;
      margin-left: 4rem;
    }
    
    .next-buttontwo:hover {
      background-color:rgb(113, 112, 115) ;
    }
    
    .alert-message {
      margin-top: 10px;
      color: red;
      font-weight: bold;
    }
    .submit-buttontwo {
      margin-top: 20px;
      padding: 12px;
      background-color:rgb(113, 112, 115) ;
      color: #fff;
      border: none;
      border-radius: 4px;
      font-size: 16px;
      cursor: pointer;
      width: 156px;
      margin-left: 1px;
    }
    
    .submit-button:hover {
      background-color:rgb(113, 112, 115) ;
    }
  }
  
  @media screen  and (max-width:400px){
    
     
    .about-container {
      max-width: 100%;
      margin-bottom: 3rem;
      margin-left: 3rem;
      margin-right: 3rem;
      padding: 2rem;
      border-radius: 8px;
      background-color: rgb(255,30,0);
      
    }
    .abtpro-logo{
      width: 220px !important;
      margin-bottom: 20px;
      margin-left: 0rem;
    
    }
    h3 {
      text-align: center;
      color: white;
      font-family: 'DINCond-Bold', sans-serif; 
    
    
    }
    h2{
      font-family: 'DINCond-Bold', sans-serif; 
      color: white;
    }
    p {
      width: 100%;
      margin-bottom: 20px;
    font-size: 1.9rem;
    font-weight: 200;
    font-family: 'DINCond-Bold', sans-serif; 
    text-align: center;
    color: white;
    }
    
    .options-container {
      display: flex;
      flex-direction: column;
      color: grey;
    }
    
    .answer-optiontwo  {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ddd;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      background-color: white;
      width: 190px;
      margin-left: 0rem;
    }
    
    .answer-optiontwo :hover {
      background-color: #e0e0e0;
    }
    
    .answer-optiontwo .correct {
      background-color: #92d050;
    }
    
    .answer-optiontwo .incorrect {
      background-color: #ffc000;
    }
    .correct {
      background-color: #92d050;
      
    }
    
    .incorrect {
      background-color: #ffc000;
      
    }
    .next-buttontwo {
      margin-top: 20px;
      padding: 12px;
      background-color:rgb(113, 112, 115) ;
      color: #fff;
      border: none;
      border-radius: 4px;
      font-size: 16px;
      cursor: pointer;
     width: 156px;
      margin-left: 2rem;
    }
    
    .next-buttontwo:hover {
      background-color:rgb(113, 112, 115) ;
    }
    
    .alert-message {
      margin-top: 10px;
      color: red;
      font-weight: bold;
    }
    .submit-buttontwo {
      margin-top: 20px;
      padding: 12px;
      background-color:rgb(113, 112, 115) ;
      color: #fff;
      border: none;
      border-radius: 4px;
      font-size: 16px;
      cursor: pointer;
      width: 156px;
      margin-left: 1px;
    }
    
    .submit-button:hover {
      background-color:rgb(113, 112, 115) ;
    }
  }
  
  @media screen  and (max-width:350px){
    
     
    .about-containertwo {
      max-width: 100%;
      margin-bottom: 1rem;
      margin-left: 1rem;
      margin-right: 1rem;
      padding: 2rem;
      border-radius: 8px;
      background-color: rgb(255,30,0);
      
    }
    .abtpro-logo{
      width: 200px !important;
      margin-bottom: 20px;
      margin-left: 0rem;
    
    }
    h3 {
      text-align: center;
      color: white;
      font-family: 'DINCond-Bold', sans-serif; 
    
    
    }
    h4 {
      margin-top: 2rem;
      font-size: 1.2rem;
      line-height: 1.8rem;
      font-family: monospace;
      color: white;
  }
    p {
      width: 100%;
      margin-bottom: 20px;
    font-size: 1.9rem;
    font-weight: 200;
    font-family: 'DINCond-Bold', sans-serif; 
    text-align: center;
    color: white;
    }
    
    .options-container {
      display: flex;
      flex-direction: column;
      color: grey;
    }
    
    .answer-optiontwo  {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ddd;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      background-color: white;
      width: 200px;
      margin-left: 1rem;
    }
    
    .answer-optiontwo :hover {
      background-color: #e0e0e0;
    }
    
    .answer-optiontwo .correct {
      background-color: #92d050;
    }
    
    .answer-optiontwo .incorrect {
      background-color: #ffc000;
    }
    .correct {
      background-color: #92d050;
      
    }
    
    .incorrect {
      background-color: #ffc000;
      
    }
    .next-buttontwo {
      margin-top: 20px;
      padding: 12px;
      background-color:rgb(113, 112, 115) ;
      color: #fff;
      border: none;
      border-radius: 4px;
      font-size: 16px;
      cursor: pointer;
     width: 156px;
      margin-left: 1rem;
    }
    
    .next-buttontwo:hover {
      background-color:rgb(113, 112, 115) ;
    }
    
    .alert-message {
      margin-top: 10px;
      color: red;
      font-weight: bold;
    }
    .submit-buttontwo {
      margin-top: 20px;
      padding: 12px;
      background-color:rgb(113, 112, 115) ;
      color: #fff;
      border: none;
      border-radius: 4px;
      font-size: 16px;
      cursor: pointer;
      width: 156px;
      margin-left: 1px;
    }
    .submit-button:hover {
      background-color:rgb(113, 112, 115) ;
    }
  }
  
  
  @media screen  and (max-width:300px){
    
     
    .about-containertwo {
      max-width: 100%;
      margin-bottom: 1rem;
      margin-left: 1rem;
      margin-right: 1rem;
      padding: 2rem;
      border-radius: 8px;
      background-color: rgb(255,30,0);
      
    }
    .abtpro-logo{
      width: 200px !important;
      margin-bottom: 20px;
      margin-left: 0rem;
    
    }
    h3 {
      text-align: center;
      color: white;
      font-family: 'DINCond-Bold', sans-serif; 
    
    
    }
    h2{
      font-family: 'DINCond-Bold', sans-serif; 
      color: white;
    }
    p {
      margin-bottom: 20px;
      font-size: 1.9rem;
      font-weight: 200;
      font-family: 'DINCond-Bold', sans-serif; 
      text-align: center;
      color: white;
    }
    
    .options-container {
      display: flex;
      flex-direction: column;
      color: grey;
    }
    
    .answer-optiontwo {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ddd;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      background-color: white;
      width: 170px;
    }
    
    .answer-optiontwo :hover {
      background-color: #e0e0e0;
    }
    
    .answer-optiontwo .correct {
      background-color: #92d050;
    }
    
    .answer-optiontwo .incorrect {
      background-color: #ffc000;
    }
    .correct {
      background-color: #92d050;
      
    }
    
    .incorrect {
      background-color: #ffc000;
      
    }
    .next-buttontwo {
      margin-top: 20px;
    
    padding: 12px;
    background-color:rgb(113, 112, 115) ;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
   width: 150px;
    margin-left: 1rem;
    }
    
    .next-buttontwo:hover {
      background-color:rgb(113, 112, 115) ;
    }
    
    .alert-message {
      margin-top: 10px;
      color: red;
      font-weight: bold;
    }
    .submit-buttontwo {
      margin-top: 20px;
      padding: 12px;
      background-color:rgb(113, 112, 115) ;
      color: #fff;
      border: none;
      border-radius: 4px;
      font-size: 16px;
      cursor: pointer;
      width: 156px;
      margin-left: 1px;
    }
    
    .submit-button:hover {
      background-color:rgb(113, 112, 115) ;
    }
  }